@{ ViewData["Title"] = "Login";
    Layout = null; }

<title>Login</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/login.css" />


<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/fonts/icomoon/style.css">

<link rel="stylesheet" href="~/css/owl.carousel.min.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="~/css/style2.css">
@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.errorMessage
    </div>
}
@if (ViewBag.successMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.successMessage
    </div>
}


<body>
    <div class="text-right">
        <img src="~/images/titulo.png" class="w-25" alt="Alternate Text" />
    </div>
    <div class="content cambiar">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <img src="images/index.png" alt="Image" class="img-fluid" style="width:150%">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Sign In</h3>
                                <p class="mb-4">Bienvenido a Quiero Un Diez, aquí podrás crear tu propio calendario de tareas y se creará automaticamente, recibir notificaciones y mucho más.</p>
                            </div>
                            <form method="post" asp-action="Login">
                                <div class="form-group first">
                                    <label for="username">Usuario</label>
                                    <input type="text" class="form-control" id="username" name="username" value="@ViewData["username"]">
                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>

                                <div class="d-flex mb-2 align-items-center">
                                    <label for="checking" class="control control--checkbox mb-0" >
                                        <span class="caption">Recuérdame</span>
                                        <input type="checkbox" id="checking" name="checking"  >
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><a class="forgot-pass" asp-controller="Login" asp-action="RememberPassword">¿Has olvidado tu contraseña?</a></span>

                                </div>
                                <div class="d-flex mb-3 align-items-center">
                                    <span class="ml-auto"><a class="forgot-pass" asp-controller="StudentDtoes" asp-action="Create">Registrarme como alumno</a></span>
                                </div>

                                <input type="submit" value="Login" class="btn btn-block btn-primary">

                                <!-- <span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span>

     <div class="social-login">
         <a href="#" class="facebook">
             <span class="icon-facebook mr-3"></span>
         </a>
         <a href="#" class="twitter">
             <span class="icon-twitter mr-3"></span>
         </a>
         <a href="#" class="google">
             <span class="icon-google mr-3"></span>
         </a>
     </div>-->
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        var checkbox = document.getElementById('checking');
        checkbox.addEventListener("change", validaCheckbox, false);
        function validaCheckbox() {
            var checked = checkbox.checked;
            if (checked) {
                checkbox.value = true;
            }
        }
    </script>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

