@model QuieroUn10.Dtos.PasswordDto
@{ 
    ViewData["Title"] = "ResetPassword"; 
}

<h1>ResetPassword</h1>

<h4>Reset Password</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Email" type="hidden" class="form-control" />
            <input asp-for="Token" type="hidden" class="form-control" />
            <div class="form-group">
                <label for="nuevaContraseña" class="control-label">New Password: </label>
                <input id="nuevaContraseña" type="password" class="form-control" name="Password" />
            </div>
            <div class="form-group">
                <label for="nuevaContraseñaConfirm" class="control-label">Confirm Password: </label>
                <input id="nuevaContraseñaConfirm" type="password" class="form-control" name="ConfirmPassword" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Login</a>
</div>
