@model QuieroUn10.Dtos.DocDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Doc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label  asp-for="Archivo" class="control-label">Archivo</label>
                <input  asp-for="Archivo" type="file" name="archivo" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="StudentHasSubjects" asp-route-id="@ViewBag.id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
